$color-gold: #d1a954;
$color-white: #fff;
$bg-color: #333333;
$color-grey: #c4c4c4;
$color-font-grey: #989898;
$color-grey-transparent: rgba(255, 255, 255, 0.6);
$color-grey-slide: rgba(51, 51, 51, 0.65);
