.about {
  &__inner {
    min-height: 609px;
    p {
      @include font-reg(14px);
      max-width: 445px;
    }
    @include flex(flex-end, center, column);
  }

  &__info-container {
    margin-top: 100px;
    @include flex(space-between, flex-start);
    width: 100%;
    .icons__text {
      @include font-cond(16px);
      span {
        color: $color-gold;
      }
    }
  }

  &__icons,
  &__text {
    @include flex(space-between, flex-start, column);
    min-height: 292px;
  }

  &__text {
    max-height: 505px;
    p {
      padding-bottom: 15px;
    }
  }

  &__title {
    padding-top: 10;
    @include font-cond(21px);
  }

  &__title-resp {
    display: none;
  }
}

.icons__text {
  margin-top: 15px;
}
@media (max-width: 1130px) {
  .about__image {
    display: none;
  }
  .about__info-container {
    justify-content: space-evenly;
  }
}
@media (max-width: 1040px) {
  .about {
    &__text {
      margin-right: 25px;
      p {
        padding-bottom: 0;
      }
    }
    &__info-container {
      justify-content: space-between;
    }
  }
}
@media (max-width: 768px) {
  .about {
    &__inner {
      min-height: 634px;
      .title {
        margin: 90px 0 60px;
      }
    }
    &__info-container {
      margin-top: 0;
      @include flex(flex-end, center, column);
      p {
        text-align: center;
        min-width: 100%;
      }
    }
    &__text {
      margin-right: 0;
      h5 {
        margin-bottom: 40px;
      }
      min-height: 231px;
      min-width: 100%;
      @include flex(space-between, center, column);
    }
    &__icons {
      width: 100%;
      @include flex(space-around, flex-end);
      min-height: 100px;
    }
    .title-resp {
      display: none;
    }
    &__title-resp {
      display: block;
      margin: 33px 0 40px;
    }
    .stage {
      margin-top: 4px;
    }
  }
}
@media (max-width: 576px) {
  .about {
    &__text {
      min-height: 231px;
    }
    .icons__text {
      text-align: left;
    }
    .about__icons {
      align-items: flex-start;
    }
    .about__icons :nth-child(2) {
      margin-right: 10px;
    }
  }
}
