.best-year {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 75px;
  &__dates {
    @include font-cond(72px, $color-gold);
    letter-spacing: 0.1em;
    line-height: 136%;
  }

  &__bg {
    background-image: url('../images/best-year-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 600px;
    padding-top: 200px;
    @include flex(center, baseline);
    margin: auto 0;
  }

  &__text {
    @include flex(flex-start, flex-start, column);
    @include font-bold();
    max-width: 426px;
    margin-left: 100px;
    img {
      margin-bottom: 40px;
    }
  }
}
@media (max-width: 1440px) {
  .best-year {
    &__bg {
      padding-left: 150px;
    }
  }
}
@media (max-width: 1040px) {
  .best-year {
    &__bg {
      padding-top: 0;
      align-items: center;
      min-height: 510px;
    }
    &__text {
      margin-left: 50px;
      font-size: 29px;
    }
  }
}
@media (max-width: 768px) {
  .best-year {
    &__bg {
      padding-left: 0;
    }
    &__text {
      margin-left: 20px;
      font-size: 25px;
    }
    &__stars {
      max-width: 160px;
    }
  }
}
@media (max-width: 576px) {
  .best-year {
    &__dates {
      font-size: 56px;
    }
    &__text {
      font-size: 18px;
    }
  }
}
