body {
  overflow-x: hidden;
  @include font-cond();
  position: relative;
  background-color: $bg-color;
}
body.lock-scroll {
  overflow: hidden;
}

button {
  padding: 18px 50px;
  @include font-cond();
  background-color: $color-gold;
  border: none;
  line-height: 80%;
  cursor: pointer;
}

.title {
  @include font-cond(64px);
  text-align: center;
  margin-top: 160px;
  span {
    color: $color-gold;
  }
}

.links {
  font-size: 16px;
}

.container {
  margin: 0 auto;
  position: relative;
  max-width: 1140px;
  padding: 0 20px;
}
@media (max-width: 1440px) {
  .container {
    padding: 0 20px 0 170px;
    max-width: 100%;
  }
}
@media (max-width: 1040px) {
  .title {
    @include font-cond(46px);
  }
  .container {
    padding: 0 20px 0 170px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 550px;
  }
}
