@media (max-width: 1130px) {
  .about__image {
    display: none;
  }
  .about__info-container {
    justify-content: space-evenly;
  }
  .footer {
    &__container {
      max-width: 690px;
      margin: 80px auto 0;
    }
    &__info {
      display: none;
    }

    &__message {
      textarea {
        min-width: 270px;
      }
    }
    &__info-mobile {
      max-width: 690px;
      margin: 80px auto 0;
      display: grid;
      row-gap: 25px;
      grid-template-columns: 2fr 3fr;
      justify-content: space-between;
      .website,
      .adress {
        text-align: right;
      }
    }
  }
}
